#announcement
  = image_tag 'icon_alertheader.png'
  p= "#{t('layouts.announcement.message')}, #{link_to t('layouts.announcement.action'), 'http://blog.catarse.me/mudanca-no-sistema-de-login/', target: '_blank'}.".html_safe
  .clearfix
